.form-1 {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 400;
    width: 300px;
    position: relative;
    margin: 60px auto 30px;
    padding: 10px;
    overflow: hidden;

    background: hsl(0, 0%, 41%);
    border-radius: 0.4em;
    border: 1px solid rgb(33, 34, 33);
    box-shadow:
        inset 0 0 2px 1px rgba(255,255,255,0.08),
        0 16px 10px -8px rgba(0, 0, 0, 0.6);
}
.form1- label {
    width: 50%;
    float: left;
    padding-top: 9px;
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 hsl(0, 10%, 39%);
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}
 
.form-1 input[type=text],
.form-1 input[type=password] {
    width: 50%;
    float: left;
    padding: 8px 5px;
    margin-bottom: 10px;
    font-size: 12px;
    background: linear-gradient(hsl(69, 82%, 51%), hsl(76, 91%, 56%));  
    border: 1px solid #ffee00;
    box-shadow:
        0 1px 0 rgba(255,255,255,0.1);
    border-radius: 3px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: #fff;
 
}
 
.form-1 input[type=text]:hover,
.form-1 input[type=password]:hover,
.form-1 label:hover ~ input[type=text],
.form-1 label:hover ~ input[type=password] {
    background: #ffd000;
}
 
.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus {
    box-shadow: inset 0 0 2px #ffd000;
    background: #494d54;
    border-color: #294e58;
    outline: none;
}
.form-1 p:nth-child(3),
.form-1 p:nth-child(4) {
    float: left;
    width: 50%;
}
.form-1 label[for=remember] {
    width: auto;
    float: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0px;
    text-indent: 2px;
}
 
.form-1 input[type=checkbox] {
    margin-left: 10px;
    vertical-align: middle;
}
.form-1 input[type=submit] {
    width: 100%;
    padding: 8px 5px;
   
    border: 1px solid #475b6e; 
    border: 1px solid #000000;
    box-shadow:
        inset 0 1px 0 #0a0a03cc,
        inset 0 10px 10px rgb(8, 8, 3);
    border-radius: 3px;
    background: #3f4244;
    cursor:pointer;
   
    font-family: 'Ubuntu', 'Lato', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 -1px 0 #d6bb2494;
}
 
.form-1 input[type=submit]:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6);
}
 
.form-1 input[type=submit]:active {
    background: #686869;
    box-shadow: inset 0 0 3px #000000;
    border-color: #0f1401;
    border-color: #0a0c01e6;
}
 
.no-boxshadow .form-1 input[type=submit]:hover {
    background: #424547;
}
.form-1:after {
    content: "";
    height: 1px;
    width: 33%;
    position: absolute;
    left: 20%;
    top: 0;
    background: linear-gradient(left, transparent, #a19494, #b6b6b8, #ccb1b1, transparent);
}

.form-1:before {
    content: "";
    width: 8px;
    height: 5px;
    position: absolute;
    left: 34%;
    top: -7px;
     
    border-radius: 50%;
    box-shadow: 0 0 6px 4px #fff;
}
.form-1 p:nth-child(1):before{
    content: "";
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 45px;
 
    transform: rotate(75deg);
    background: linear-gradient(50deg, rgba(231, 16, 16, 0.15), #e21212de);
    pointer-events: none;
}
.no-pointerevents .form-1 p:nth-child(1):before {
    display: none;
}
.form-1{
background : url("logo.jpg");
}
 body{
    font-family: Tahoma;
    background: url("bg-1.jpg");
    margin 0;
}
